<%- include("../../views/templates/header") -%>
<link rel="stylesheet" href="/styles/student/studRoom.css">

<h1>Room details</h1>
<div class="container">
<div class="card"> 
    <h4>Student Name: <%=name%></h4>
    <h4>Registration Number: <%=regNo%></h4>
    <h5>Room No: <%=roomNo%></h5>
    <h5>Room Type: AC</h5>
    <h5>Room capacity: 2</h5>
    <h5>Block: <%=block%></h5>
    <h5>Mess Type: <%=messType%></h5>
</div>
</div>

<%- include("../../views/templates/footer") -%>
